<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509492406709-gqvs4fb4qlhmh68ggd5kj58ht76e3ehm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509492406709-gqvs4fb4qlhmh68ggd5kj58ht76e3ehm</string>
	<key>API_KEY</key>
	<string>AIzaSyCANQi6u3xQbJgZripCA_4_21OwiJi_PIk</string>
	<key>GCM_SENDER_ID</key>
	<string>509492406709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proacademyMoodel</string>
	<key>PROJECT_ID</key>
	<string>proacademy-d1012</string>
	<key>STORAGE_BUCKET</key>
	<string>proacademy-d1012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509492406709:ios:1c71dea21105895ff7d1fc</string>
</dict>
</plist>